@model UserRolesViewModel
@{
    ViewData["Title"] = "Manage Roles";
}

<form method="post" asp-action="ManageRoles">
    <div class="card mt-4">
        <div class="card-header">
            <h2>@Model.Username</h2>
            Add Remove Roles
        </div>
        <div class="card-body">
            <input type="hidden" asp-for="@Model.UserId" />
            @for (int i = 0; i < Model.Roles.Count; i++)
            {
                <div class="form-check mt-1">
                    <input type="hidden" asp-for="@Model.Roles[i].RoleName" />
                    <input class="form-check-input" asp-for="@Model.Roles[i].IsSelected" />
                    <label asp-for="@Model.Roles[i].IsSelected" class="form-check-label">
                        @Model.Roles[i].RoleName
                    </label>
                </div>
            }
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary" type="submit" asp-action="ManageRoles"> Save</button>
            <a class="btn btn-secondary" type="submit" asp-action="Index"> Cancel</a>
        </div>
    </div>
</form>